extends layout
block head
  script.
    var turns=!{JSON.stringify(turns)};
  script(src='/javascripts/game.js')
block content
  div#game-id.hidden #{id}

  - var subtitle = description
  include partials/header
  h2#back
    -if(prevpage)
      a(href='#{prevpage}') &#x25C0; Back
    -else
      a(href='/') &#x25C0; Back

  div#game-wrapper
    div#p1
      img(src='#{p1.picture}')
      h2 #{p1.name}
      h2.headcount 0
      h3 Headcount
      h2.energyconsumed 0
      h3 Energy Consumed
    canvas#game(width=500, height=500)
    div#p2
      img(src='#{p2.picture}')
      h2 #{p2.name}
      h2.headcount 0
      h3 Headcount
      h2.energyconsumed 0
      h3 Energy Consumed
    br

  div#playback
    div#animate-game
      div.icon
      h3 Animate
    div#controls
      div.beginning
      div.back
      h3#turn Turn 
        span.current 0
        |/
        span.total 0
      div.forward
      div.end
5