extends layout

block content
  input#user-id(type='hidden' value=user.id)
  input#user-firstname(type='hidden' value=user.firstName)
  input#user-lastname(type='hidden' value=user.lastName)
  input#user-email(type='hidden' value=user.email)
  input#current-user-id(type='hidden' value=currentUserId)
  div#profile
  script(src='/js/loadprofile.js')
